<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Night Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <a href="/auth/twitter">Twitter Sign Up</a>
    <% if(user) {%>
        <%=user%>
    <% } %>

    <form action="/search/" method="POST">
        <input type="text" name="cityname" placeholder="Enter City Name">
        <button type="submit">Enter</button>
    </form>

    <% if(searchedBars) {%>
    <% searchedBars.forEach((bar) => { %>
        <div>
            <h3><%= bar["name"] %></h3>
            <p><%= bar["formatted_address"]%></p>
            <p><%= bar["rating"]%></p>   
            <span><%= bar["usersAttending"]%></span>
        </div>
    <% }) %>
    <% } %>
</body>
</html>